@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body,
* {
  font-family: 'Josefin Sans', sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal !important;
  font-weight: 400;
  color: #dedede;
}
.button {
  padding: 15px 40px;
  min-width: 150px;
}

.primary {
  background-color: #e1b168;
  color: #292e36;
}

.outline {
  background-color: transparent;
  border: 1.5px solid #e1b168;
  outline-style: none;
}
